body {
  background: #eee;
}

body div.mdl-grid {
  max-width: 100%;
  padding: 0;
}

.mdl-cell {
  transition: width .5s;
}

.block {
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* header */

.header * {
  display: inline-block;
}

.header .nav ul {
  padding: 0;
}

.header .nav li {
  margin-left: 10px;
}

/* form */

form label * {
  display: block;
  width: 90%;
}

form input, form textarea {
  padding: 3%;
  margin-bottom: 10px;
  border: solid 2px #ddd;
  font-size: 14px;
}
